html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Lato Regular', sans-serif;
    font-size: 1.6rem;
    background-color: #fefefe;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

/**** Container ****/

.container {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}


/**** HEADER ****/

.header {
    padding: 34px 0 30px;
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
}


.header-in {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-logo {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -.55px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.header-logo span {
    color: #f06c64;
}

.nav-list {
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;

    color: #fff;
    list-style: none;
    text-transform: uppercase;
}

.nav-list-item {
    margin-right: 29px;
    cursor: pointer;
    transition: color .2s linear;
    position: relative;
}

.nav-list-item::after {
    content: "";
    background-color: #434759;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -16px;
    transform: translateY(-50%);

}

.nav-list-item:hover {
    color: #f06c64;
}

.nav-list-item:last-child {
    margin-right: 0;
}

.nav-list-item:last-child:after {
    width: 0;
}

.nav-list-item-active {
    color: #f06c64;
}

/****SLIDER****/

.slider {
    height: 600px;
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
}

.slider-in{
    position: relative;
    padding: 76px 40px 58px;
    height: 600px;
}

.prev {
    position: absolute;
    top: 50%;
    left: 2px;
    margin-top: -19px;
}

.next {
    position: absolute;
    top: 50%;
    right: 1px;
    margin-top: -19px;
}

.prev .arrow-left a, .next .arrow-right a {
    background: url("assets/images/arr_slider.png") no-repeat;
    height: 27px;
    width: 16px;
    display: inline-block;
}

.prev .arrow-left a:hover, .next .arrow-right a:hover {
    background: url("assets/images/arr_slider_hover.png") no-repeat;
    height: 27px;
    width: 16px;
}

.next .arrow-right a {
    transform: rotate(200grad);
}


.iphone-vertical{
    position: absolute;
    top: 53px;
    left: 72px;
}
.iphone-vertical img{
    position: relative;
    z-index: 2;
}
.iphone-vertical:before{
    content: "";
    background: url("assets/images/shadow_iphone_vertical.png") no-repeat;
    height: 483px;
    width: 240px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.iphone-vertical .img-phone-vertical{
    width: 188px;
    height: 333px;
    background: url(assets/images/display_img1.jpg) -14px -135px no-repeat;
    display: inline-block;
    position: absolute;
    top: 65px;
    left: 14px;
    z-index: 3;
}

.iphone-horizontal{
    position: absolute;
    right: 219px;
    top: 51px;
}
.iphone-horizontal:before{
    content: "";
    background: url(assets/images/shadow_iphone_horizontal.png) no-repeat;
    height: 240px;
    width: 483px;
    display: inline-block;
    position: absolute;
    left: -120px;
    top: 122px;
}
.iphone-horizontal img{
    transform: rotate(100grad);
}


.iphone-horizontal .img-phone-horizontal{
    width: 334px;
    height: 189px;
    background: url(assets/images/display_img2.jpg) -123px -117px no-repeat;
    display: inline-block;
    position: absolute;
    top: 135px;
    left: -62px;
    z-index: 3;
}

